@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --BF: #1A5276;
    --GL: #FA991C;
    --vert: #2ECC71;
    --RB: #C0392B;
    --GR: #95A5A6
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

/* header */

.container{
    margin: 0 180px;
}

header{
    background-color: var(--BF);
    position: fixed;
    width: 100%;
    z-index: 100;
}

header .container{
    display: flex;
    align-items: center;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
    margin: 0 10px;
}

.logo{
    display: flex;
    align-items:center;
}

.logo img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 20px;
}

header .logo span{
    color:var(--GL);
    font-size: 20px;
    font-weight: 500;
}

header nav{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

header nav .button{
    background-color: var(--vert);
    border: none;
    border-radius: 10px;
    margin: 0 10px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: .5s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header nav .button:hover{
    transform: scale(1.1);
    background-color: var(--RB);
}

header a{
    color: var(--GL);
    text-decoration: none;
    font-weight: 500;
    transition: .5s ease;
}

header a:hover{
    color: var(--GR);
}

header i{
    color: var(--GL);
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.burger-icon{
    display: none;
}

.languages i{
    font-size: 16px;
}

.languages select{
    font-size: 16px;
    background-color: var(--BF);
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 50px;
}
/* hero section */

#hero img{
    height: 90vh;
    width: 100%;
    display: none;
}

#hero img.active{
    display: block;
}

#hero h1{
    font-size: 64px;
    font-weight: bold;
    color: var(--GL);
    margin-bottom: 40px;
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 1);
}

#hero .hero-container{
    position: relative;
    overflow: hidden;
}

#hero .hero-description{
    position: absolute;
    top: 50%;
    left: 180px;
    width: 50%;
    transform: translateY(-25%);
}

#hero .button {
    padding: 20px 40px;
    border-radius: 20px;
    background-color: var(--vert);
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease;
}

#hero .button:hover{
    transform: scale(1.1);
    background-color: var(--RB);
}

#hero .button a{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--GL);
    text-decoration: none;
}

#hero .social-media i{
    color: var(--GL);
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    transition: .5s ease;
}

.social-media i:hover{
    transform: scale(1.1);
}

/* about */

#about{
    padding: 100px 0; 
    text-align: center;  
}

#about h1{
    font-size: 48px;
    font-weight: bold;
    color: var(--BF);
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#about .about-description{
    transform: translateX(-200%);
    transition-duration: 2s;
}

#about .about-description.visible{
    transform: translateX(0);
}

#about p{
    padding: 10px 0;
    line-height: 1.5;
    font-style: italic;
}

#about p.visible{
    transform: translateX(0);
}

/* service */

#services{
    background-color: var(--BF);
    padding: 100px 0;
}

#services h1{
    font-size: 48px;
    color: var(--GL);
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

#services .service-description{
    text-align: center;
    margin-bottom: 80px;
}

#services .card{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: opacity 2s ease-in;
    margin-bottom: 100px;
}

#services .card:nth-child(2),
#services .card:nth-child(4){
    flex-direction: row-reverse;
}

#services .card.visible{
    opacity: 1;
}

#services img{
   width: 50%;
   height: 600px;
}

#services .card-description{
    margin:0 40px;
    text-align: center;
}

#services .cards h3{
    font-size: 32px;
    color: var(--GL);
    margin-bottom: 20px;
    flex-grow: 1;
}

#services p{
    line-height: 1.5;
    color: var(--GR);
}

/* contact */

#contact{
    padding: 100px 0; 
}

#contact h1{
    text-align: center;
    color: var(--BF);
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#contact form div{
    margin: 20px 0;
}

#contact input,
textarea{
    border: none;
    border-bottom: 1px solid var(--BF);
    outline: none;
    background-color: #f5f5f5;
    width: 600px;
    padding: 10px;
}

#contact input:focus,
#contact textarea:focus{
    border-color: var(--GL);
}

.contact{
    display: flex;
}

.contact-info{
    margin-top: 20px;
    margin-left: 40px;
}

.email{
    margin-bottom: 10px;
}

.contact i{
    color: var(--BF);
    margin-right: 10px;
}

#contact button{
    padding: 15px 30px;
    background-color: var(--vert);
    color: var(--GL);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: .5s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#contact button:hover{
    background-color: var(--RB);
    transform: scale(1.1);
}

#contact .whatsapp{
    margin-top: 40px;
}

#contact .whatsapp a:hover{
    transform: scale(1.1);
}

#contact .whatsapp a{
    background-color: var(--vert);
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--BF);
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    transition: .5s ease;
}

#contact .whatsapp i{
    font-size: 32px;
    font-weight: bolder;
    margin-right: 20px;
}

/* footer */

footer{
    background-color: var(--BF);
    padding: 40px 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .logo span{
    color: var(--GL);
    font-size: 20px;
    font-weight: 500;
}

.social-media{
    display: flex;
    align-items: center;
}

.social-media i{
    color: var(--GL);
    padding: 0 20px;
    font-size: 20px;
    transition: .5s ease;
}

footer .copy-right{
    color: var(--GL);
    font-size: 20px;
    font-weight: 500;
}

@media (max-width:1115px) {
    .container{
        margin: 0 90px;
    }

    #hero .hero-description{
        left: 90px;
    }

    #hero h1{
        font-size: 48px;
        text-shadow: 6px 6px 4px rgba(0, 0, 0, 1);
    }
}

@media (max-width:900px) {
    .container{margin: 0 45px;}

    #hero .hero-description{
        left: 45px;
        width: 75%;
    }    

    #services img{height: 400px;}

    #contact input,
    textarea{
        width: 450px;
    }

    .contact-info{
        margin-left: 20px;
    }
}

@media (max-width:830px) {  
    header{
        position: relative;
    }

    nav{
        position: absolute;
        flex-direction: column;
        width: 100%;
        z-index: 100;
        transition: 1s ease-in-out;
        background-color: var(--BF);
        padding: 20px;
        left: 0;
        top: 0;
        transform: translateY(-100%);
        justify-content: space-between;
    }

    nav.active{
        top: 100%;
        transform: translateY(0);
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li{
        margin: 10px 0;
    }

    .burger-icon{
        display: block;
        margin-left: auto;
        margin-right: 20px;
    }

}

@media (max-width:660px) {
    .container{
        margin: 0 20px;
    }

    #hero .hero-description{left: 20px;}

    .contact{
        flex-direction: column;
    }

    .contact-info{
        margin-left: 0;
    }

    #contact input,
    textarea{
        width: 100%;
    }
}

@media (max-width:500px) {
    .languages select{
        width: unset;
    }
    
    #hero .hero-description{
        width: 90%;
    }

    #hero h1{
        font-size: 32px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    }

    #hero .button{
        padding: 10px 20px;
        border-radius: 10px;
    }

    #hero img{
        height: 60vh;
    }

    #hero i{
        font-size: 32px !important;
    }

    section .container > h1{
        font-size: 32px !important;
    }

    #services .card{ flex-direction: column !important;}

    #services img{
        width: 100%;
        margin-bottom: 20px;
    }

    #services h3{
        font-size: 24px !important;
    }

    .whatsapp a{
        font-size: 16px !important;
    }

    footer i{
        padding: 0 10px !important; 
    }
}
